/* Start global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  resize: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/* .container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
/* medias of containers */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */ 
/* end medias of containers */
/* end global rules */

.norm-pad {
  padding: .75rem 1rem;
}

.blue-clr {
  --blue-color: hsl(212, 100%, 50%);
  color: var(--blue-color);
}

.green-clr {
  --green-color: hsl(142, 71%, 45%);
  color: var(--green-color);
}

.orange-clr {
  --orange-color: hsl(38, 92%, 50%);
  color: var(--orange-color);
}

.red-clr {
  color: var(--red-color);
}

.blue-trans-clr {
  --blue-color: hsl(212, 100%, 50%, .5);
  color: var(--blue-color);
  background-color: var(--blue-color);
}
.orange-trans-clr {
  --orange-color: hsl(38, 92%, 50%, .5);
  color: var(--orange-color);
  background-color: var(--orange-color);
}
.green-trans-clr {
  --green-color: hsl(142, 71%, 45%, .5);
  color: var(--green-color);
  background-color: var(--green-color);
}

/* This Shared upon all elements */
.content-box {
  position: relative;
  background-color: var(--default-white);

  border-radius: 6px;
  padding: .75rem 1.25rem;
  margin-top: 1rem;
}

@media (min-width: 1200px) {
  .content-box {
    min-height: 400px;
    margin-top: 0;
  }
}

.content-box .content-title {
  padding-block: .5rem 1rem;
}

.content-box .content-title > h3.title {
  font-size: 1.5rem;
  margin-bottom: .75rem;
}

.content-box .content-title > p.desc {
  font-size: 14px;
  color: var(--grey-color);
}

/* Helper Classes */
.seperator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}