:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --default-black: black;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: antiquewhite; /*Will Change later*/
}
/* Start Sidebar Code */
section.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff;
  min-width: 250px;
  min-height: 100vh;

  padding: 1rem 1.5rem;

  box-shadow: 0 0 10px #ddd;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-title {
  font-size: 1.25rem;

  color: var(--default-black);
}

.line-circle {
  position: relative;
  width: 10px;
  height: 10px;

  margin-top: 1rem;

  background-color: var(--default-black);
  border-radius: 50%;
}

.line-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);

  width: 30px;
  height: 2px;
  margin-right: 5px;
  background-color: var(--default-black);
}

.line-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);

  width: 30px;
  height: 2px;
  margin-left: 5px;
  background-color: var(--default-black);
}

.sidebar nav {
  margin-top: 1.5rem;
  font-size: 14px;
}

.sidebar nav a {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding: .8rem;

}

.sidebar nav a.active {
  background-color: #f6f6f6;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .logo-title {
    font-size: 13px;
  }
  .line-circle {
    display: none;
  }
  section.sidebar {
    min-width: fit-content;
  }

  .sidebar nav a p {
    display: none;
  }
}

/* End Sidebar Code */

/* Start Topbar Code */
.topbar {
  background-color: rgb(118, 243, 147);
  /* min-width: 100%; */
  min-height: 67px;
}
/* End Topbar Code */


/* 
-- All the above code will be distrubted between multiple pages
-------------------------------------------------- 
*/
.rightside {
  background-color: rgb(40, 115, 226);
  margin-left: 250px;
  min-height: 300vh;
  flex-grow: 1;
}

@media (max-width: 767px ) {
  .rightside {
    margin-left: 90px;
  }
}
