:root {
  --blue-color: hsl(212, 100%, 50%);
  --blue-alt-color: #0d69d5;
  --orange-color: hsl(38, 92%, 50%);
  --green-color: hsl(142, 71%, 45%);
  --red-color: #f44336;
  --grey-color: #888;
  --default-black: black;
  --default-white: white;

  /* --percent: 0; */
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue-color); /*Will Change later*/
}
/* Start Sidebar Code */
section.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff;
  min-width: 230px;
  min-height: 100vh;

  padding: 1rem 1.5rem;

  box-shadow: 0 0 10px #ddd;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-title {
  font-size: 1.25rem;

  color: var(--default-black);
}

.line-circle {
  position: relative;
  width: 10px;
  height: 10px;

  margin-top: 1rem;

  background-color: var(--default-black);
  border-radius: 50%;
}

.line-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);

  width: 30px;
  height: 2px;
  margin-right: 5px;
  background-color: var(--default-black);
}

.line-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);

  width: 30px;
  height: 2px;
  margin-left: 5px;
  background-color: var(--default-black);
}

.sidebar nav {
  margin-top: 1.5rem;
  font-size: 14px;
}

.sidebar nav a {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding: .8rem;

  transition: 300ms;
}

.sidebar nav a.active,
.sidebar nav a:hover {
  background-color: #f6f6f6;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .logo-title {
    font-size: 13px;
  }
  .line-circle {
    display: none;
  }
  section.sidebar {
    min-width: fit-content;
    padding: 1rem .75rem;
  }

  .sidebar nav a p {
    display: none;
  }
}

/* End Sidebar Code */

/* Start Topbar Code */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 1rem;

  background-color: var(--default-white);
  min-height: 67px;
}

.topbar .search {
  position: relative;
}

.topbar .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);

  z-index: 999;
}

.topbar .search-bar {
  position: relative;

  max-width: 160px;
  padding: .5rem 1.9rem;
  border: 1px solid var(--grey-color);
  border-radius: 6px;

  font-size: 13px;

  transition: max-width 200ms;
  outline: 0;
}

.topbar .search-bar:focus {
  max-width: 200px;
}

.topbar .personal-info {
  display: flex;
  align-items: center;
  gap: .9rem;
}

.topbar .personal-info i {
  position: relative;
}

.topbar .personal-info i::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 12px;
  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: var(--red-color);
}

.topbar img {
  width: 30px;
  border-radius: 50%;
}
/* End Topbar Code */


/* 
-- All the above code will be distrubted between multiple pages
-------------------------------------------------- 
*/

.rightside {
  background-color: #f1f5f9;
  margin-left: 230px;
  min-height: 300vh;
  flex-grow: 1;
}

.content {
  padding: 1.25rem;
}

.content > .title {
  position: relative;
  font-size: 2rem;
}

.content > .title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 125px;
  height: 3px;

  background-color: var(--default-white);
}

.content > .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;

  width: 50px;
  height: 3px;

  background-color: var(--default-black);
}

@media (max-width: 767px ) {
  .rightside {
    margin-left: 68px;
  }
}

@media (min-width: 767px) {
  .actual-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-top: 2rem;
    gap: 1rem;
  }
}

.profile-box {
  background-color: var(--default-white);
  padding-bottom: .25rem;

  border-radius: 6px;
}

.profile-box .banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2rem 1rem;
  background-color: #eee;
}

.profile-box .banner h3.welcome {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.profile-box .banner p.name {
  color: var(--grey-color);
}

.profile-box .banner img {
  max-width: 200px;
}

.profile-box img.user-img {
  position: absolute;
  bottom: -25px;
  max-width: 60px;

  border: 3px solid var(--default-white);
  border-radius: 50%;

}

@media (max-width: 767px) {
  .profile-box img.user-img {
    left: 50%;
    transform: translateX(-50%);
  }
  .profile-box .banner img.banner-picture {
    display: none;
  }
}


.profile-box .user-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-inline: auto;
  padding: 2rem 1.5rem;
  
  margin-top: 3rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  text-align: center;
}


@media (max-width: 767px) {
  .profile-box .user-info {
    flex-direction: column;
  }
}

.profile-box .user-info > * {
  flex: 1;
}

.profile-box .user-info .box-info > h3{
  margin-bottom: .5rem;

  font-size: 1rem;
  font-weight: 400;
}

.profile-box .user-info .box-info > p {
  font-size: 14px;
  color: var(--grey-color);
}

.profile-box a.profile-link {
  display: block;
  width: fit-content;
  margin: 1rem 1rem 1rem auto;

  background-color: var(--blue-color);
  color: var(--default-white);
  font-size: 14px;
  border-radius: 5px;
  padding: .35rem .5rem;
}

/* Start Draft */

.content-box > form.draft > * {
  width: 100%;
  display: block;
  background-color: #eee;
  border-radius: 5px;

  font-size: 14px;
}

.content-box > form.draft > .thought {
  min-height: 160px;
  margin-top: 1rem;
}

.content-box > form.draft > input[type="button"] {
  padding: .3rem;
  margin-top: 1rem;
  max-width: 50px;

  text-transform: capitalize;
  color: var(--default-white);
  background-color: var(--blue-color);

  margin-left: auto;
}
/* End Draft */

/* Start Target */

.target-component {
  display: flex;
  gap: 1rem;

  padding-block: .5rem;
}

.target-component i.frame-icon {
  position: relative;
  width: 80px;
  height: 80px;
}
.target-component i.frame-icon::before {
  position: absolute;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
  z-index: 2;
}
.target-component i.frame-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  opacity: .25;

  z-index: 1;
}

.target-component .data-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .15rem 0;
  flex: 1;
}

.target-component .data-content > .target-title {
  color: var(--grey-color);
  font-size: 14px;
  font-weight: normal;
}

.target-component .data-content > .target-accomplishs {
  font-weight: bold;
  color: var(--default-black);
}

.target-component .progress {
  width: 100%;
  height: 5px;
  
}

.target-component .progress span.actual-progress {
  position: relative;
  display: block;
  width: var(--percent);
  height: 5px;
  background-color: currentColor;
}

.target-component .progress span.percent {
  position: absolute;
  top: -30px;
  right: -17px;
  padding: .25rem;

  /* color: var(--default-white); */
  background-color: currentColor;

  font-size: 14px;
}
.target-component .progress span.percent::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-color: currentColor transparent transparent;
  border-style: solid;
  border-width: 5px;
}

.target-component span.percent > p.percent-text {
  color: var(--default-white);
}
/* End Target */

/* Start Tickets */
.tickets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 1.5rem;

  gap: 1rem;
}
.tickets > * {
  width: calc(50% - 1rem);
  padding: 1rem;
  text-align: center;

  border: 1px solid #ddd;
  border-radius: 6px;
}
@media (width <= 768px) {
  .tickets > * {
    min-width: 100%;
  }
}

.tickets > * > * {
  padding: .25rem 0;
}

.tickets h3.tickets-category {
  color: var(--grey-color);
  font-weight: 400;
  font-size: 14px;
}

.tickets p.tickets-stats {
  font-weight: 700;
  font-size: 1.5rem;
}
/* End Tickets */

/* Start News */

.news-title {
  font-size: 1.5rem;
}

.news-component {
  display: flex;

  gap: 1rem;

  border-bottom: 1px solid #eee;
  padding-block: 1rem;
}

.news-component:last-child {
  border-bottom: 0;
}


.news-component img {
  max-width: 100px;
  border-radius: 6px;
}

.news-component .news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  flex: 1;
}

.news-component .news-content .news-title {
  font-size: 16px;
}

.news-component .news-content .news-desc {
  font-size: 14px;
  color: var(--grey-color);
}

.news-component .news-publish {
  align-self: center;
  padding: .25rem .5rem;
  margin-left: auto;
  border-radius: 6px;

  font-size: 14px;
  background-color: #eee;
}

@media (width <= 767px) {
  .news-component {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .news-component .news-publish {
    margin-left: 0;
  }
}
/* End News */

/* Start Tasks */
.task {
  padding-block: .5rem;
  margin-bottom: .5rem;
}
.task:not(.task:last-child) {
  border-bottom: 1px solid #eee;
}
.task-id >  * {
  font-size: 1rem;
}
.task-id > .task-text {
  color: var(--grey-color);
  margin-top: .25rem;
}
/* End Tasks */

/* Start Top Search Items */
.top-search-title > * {
  color: var(--grey-color);
  font-weight: 500;
}

.top-search .searched-item:not(.searched-item:last-child) {
  margin-block: 1.3rem;
}

.top-search .searched-item > h3.item-name {
  font-size: 1rem;
  font-weight: 500;
}

/* End Top Search Items */

/* Start Uploads */

.upload:not(.upload:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.upload-info {
  display: flex;
  flex: 1;
} 

.upload-info .upload-data {
  margin-left: 1rem;
}

.upload-info .upload-data > * {
  font-size: 1rem;
}

.upload-info .upload-data > h3 {
  font-weight: 500;
}

.upload-info .upload-data > p {
  color: var(--grey-color);
}

.upload-image {
  max-height: 35px;
}
/* End Uploads */

/* Start Project Progress */
.project-progress {
  display: flex;
  align-items: center;

  gap: .5rem;
  margin-bottom: 20px;
}

span.progress-state {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;


  border-radius: 50%;

  border: 2px solid var(--default-white);
  outline: 2px solid var(--blue-color);
}

.project-progress:not(:first-of-type) span.progress-state:before {
  content: "";
  position: absolute;
  top: calc(-100%);
  left: 50%;
  transform: translateX(-50%);

  width: 2px;
  height: 19px;

  background-color: var(--blue-color);
}

span.progress-state.finished {
  background-color: var(--blue-color);
}

span.progress-state.pending {
  animation: fading 2000ms forwards infinite;
}

@keyframes fading {
  0% {
    background-color: var(--blue-color);
  }
  50% {
    background-color: var(--default-white);
  }
  100% {
    background-color: var(--blue-color);
  }
}

.project-rocket {
  position: absolute;
  right: 0;
  bottom: 0;

  opacity: .3;

  max-width: 150px;
}
/* End Project Progress */