:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: antiquewhite; /*Will Change later*/
}
/* Start Sidebar Code */
nav.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(131, 54, 225);
  min-width: 250px;
  min-height: 100vh;
}
/* End Sidebar Code */

/* Start Topbar Code */
.topbar {
  background-color: rgb(118, 243, 147);
  /* min-width: 100%; */
  min-height: 67px;
}
/* End Topbar Code */


/* 
-- All the above code will be distrubted between multiple pages
-------------------------------------------------- 
*/
.rightside {
  background-color: rgb(40, 115, 226);
  margin-left: 250px;
  min-height: 300vh;
  flex-grow: 1;
}
