/* This File is to style files.html */
.file-layout {
  align-items: start;
  gap: 1rem;
}

@media(max-width: 767px) {
  .file-layout {
    flex-direction: column-reverse;
  }
  .file-layout > * {
    width: 100%;
  }
}

.file-layout .grid-6 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  flex: 1;
}


/* Start Files */
.file {
  position: relative;
  background-color: var(--default-white);
  padding: 1rem;

  text-align: center;
  border-radius: 10px;
}

.file i {
  position: absolute;
  left: 1rem;
  color: var(--grey-color);
}
.file .file-image {
  max-width: 60px;
  margin-top: 1rem;
}
.file .file-name {
  font-size: 14px;
  font-weight: 500;

  margin-block: 1rem;
}
.file .user {
  text-align: left;
  font-size: 12px;
  font-weight: 500;

  color: var(--grey-color);
}

.file .file-data {
  border-top: 1px solid #eee;
  margin-top: .5rem;

  padding-top: .75rem;
}

.file .file-data > * {
  font-size: 12px;
  font-weight: 500;
  color: var(--grey-color);
}
/* End Files */

/* Start Files Statistics */
.file-layout .files-stats {
  background-color: var(--default-white);

  padding: 1rem;
  border-radius: 10px;
}

@media(min-width: 767px) {
  .file-layout .files-stats {
    min-width: 250px;
  }
}

.files-stats .title {
  font-size: 24px;
  margin-bottom: 1rem;
}

.files-stats .stat-target {
  --color: hsl(212, 100%, 50%);
  padding: .6rem;
  margin-bottom: 1rem;
  
  border: 1px solid #eee;
  border-radius: 6px;
}

.files-stats .stat-type {
  display: flex;
  gap: 8px;
}

.files-stats .stat-type i {
  position: relative;
  padding: .75rem;
  z-index: 100;
  color: var(--color);
}

.files-stats .stat-type i::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;

  width: 100%;
  height: 100%;

  background-color: var(--color);
  z-index: 1;
  opacity: .3;
}

.files-stats .stat-data > * {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: .4rem;
}

.files-stats .stat-data .stat-amount {
  color: var(--grey-color);
}

.files-stats .total-size {
  font-size: 13px;
  font-weight: 500;
  color: var(--grey-color);
}

.files-stats .upload {
  display: block;

  max-width: fit-content;
  margin-inline: auto;
  padding: .6rem .8rem;
  border-radius: 6px;

  background-color: var(--blue-color);
  color: var(--default-white);

  font-size: 14px;
}

.files-stats .upload i {
  margin-right: .5rem;
}
/* End Files Statistics */