/* Style profile.html */

/* Start Profile */
.profile {
  display: flex;
  margin-top: 2rem;
  background-color: var(--default-white);

  padding-top: 1rem;
}

@media(max-width: 767px) {
  .profile {
    flex-direction: column;
  }
}

.profile .profile-stats {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-basis: 230px;
  text-transform: capitalize;

  gap: .8rem;
  align-self:center;
}

.profile img {
  max-width: 130px;
  border-radius: 50%;
}

.profile .profile-stats span.level-bar {
  position: relative;
  width: 150px;
  height: 5px;

  border-radius: 20px;
  background-color: #eee;
}

.profile .profile-stats span.level-bar::before {
  content: "";
  position: absolute;
  background-color: var(--blue-color);

  width: 60%;
  height: 5px;
}

.profile .profile-stats .rating {
  color: var(--orange-color);
}

.profile .profile-stats .level, 
.profile .profile-stats .rating-count {
  color: var(--grey-color);
}

.profile .profile-stats .rating-count {
  font-size: 14px;
}

.profile .infos {
  font-size: 14px;
  font-weight: 500;

  flex: 1;
}

.profile .infos h3.info-heading,
.profile .infos .target-data {
  color: var(--grey-color);
  font-weight: 500;
}

.infos .info-content {
  padding: 1rem;
  transition: 300ms;

  border-bottom: 1px solid #eee;
}

.infos .info-content:hover {
  background-color: #f9f9f9;
}

.infos .wrapper-class {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1100px;

  margin-top: .75rem;
}


.infos .wrapper-class > * {
  text-wrap: nowrap;
  min-width: 250px;
}

.infos label {
  display: flex;
  align-items: center;
}

@media(max-width: 767px) {
  .infos .info-heading {
    text-align: center;
  }
  .infos .wrapper-class {
    text-align: center;
    justify-content: center;
  }
  .infos label {
    justify-content: center;
  }
}
/* End Profile */

.wrapper {
  display: flex;
  align-items: center;

  gap: 1rem;
  margin-top: 1rem;
}
@media(max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }
}
.wrapper > * {
  flex: 1; 
  width: 100%;
}
/* Start Skills */
@media(min-width: 767px) {
  .skills {
    max-width: 35%;
    align-self: stretch;
  }
}
.skill-list {
  display: flex;
  align-items: center;

  gap: .5rem;

  padding-block: 1rem;
}

@media(max-width: 767px) {
  .skill-list {
    justify-content: center;
  }
}
.skill-list:not(:last-child) {
  border-bottom: 1px solid #eee;
}

/* End Skills */

/* Start Activity */
.activity {
  padding-block: 1rem;
}
.activity:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.activity .activity-desc {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.activity .activity-img {
  max-width: 70px;
}

.activity .activity-category {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: .75rem;
}

.activity .activity-text {
  color: var(--grey-color);
}

.activity .activity-time {
  text-align: right;
}

.activity .activity-time .date {
  margin-top: .75rem;
  color: var(--grey-color);
}

@media(max-width: 767px) {
  .activity, 
  .activity-desc, 
  .activity .activity-time {
    flex-direction: column;
    text-align: center;
  }

  .activity .activity-img {
    margin-bottom: .5rem;
  }
  .activity-desc {
    margin-bottom: 1rem;
  }
}
/* End Activity */