/* Css for settings.html */

/* Start Site Control */
.control-option {
  align-items: center;
}
.control-option .content-text h3{
  font-size:16px;
  font-weight: 500;
}
.control-option .content-text p{
  font-size: 14px;
  color: var(--grey-color);
  margin-top: .5rem;
}

.website-close-msg {
  width: 100%;
  min-height: 200px;
  margin-top: 1rem;
  padding: 1rem;

  border: 1px solid var(--grey-color);
  border-radius: 6px;

  font-size: 12px;
  letter-spacing: 1px;
}
/* End Site Control */

/* Start General Info */
.account-info {
  margin-bottom: 1.5rem;
}
.account-info .title {
  margin-block: .5rem;

  font-size: 14px;
  font-weight: 500;
  color: var(--grey-color);
}

.account-info input[type="text"],
.account-info input[type="email"] {
  width: 100%;
  padding: .5rem;
  
  
  border: 1px solid #ccc;
  border-radius: 6px;
  
  font-size: 14px;
}

.account-info input[type="email"] {
  width: 80%;
}

.account-info .change-email {
  color: var(--blue-color);
  font-weight: 500;
}
/* End General Info */